@{
	ViewData["Title"] = "Add/Edit Todo";
} 


@model ToDoList.Models.ToDoElement

<div class="text-center">
	<h1>TODO CREATOR</h1>
</div>

<form>
	<label>Id</label>
	<input class="form-control" type="number" placeholder="0" asp-for="Id" />

	<label>Description</label>
	<input class="form-control" type="text" placeholder="Description" asp-for="Description" />

	<label>Status</label>
	<input class="form-control" type="number" asp-for="Status"  step="0.1"/>

	<button class="btn btn-primary mt-4" type="submit">ok</button>

</form>